body {
  background-color: #eee;
}
a:hover{
  text-decoration: none;
}
.form-inline{
  padding-top:10px;
}
.dl-horizontal dt{
  text-align: left;
  width:80px;
}
.dl-horizontal dt{
  margin-left: 80px;
}
.username-div, .username-reg-div, .cate-name-div{
  margin-left: 10px;
}
.user-info-div{
  line-height: 45px;
}
.souchang-div{
  margin: 0 auto;width: 768px;
}

.my-navigation-div{
    background-color: #fff;
    border-color: #ddd;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    padding:5px;
}
.dl-horizontal dt{
  color: #777;
}
.navigation-ul li {
  width:100px;
  height: 20px;
  margin-bottom: 8px;
  overflow: hidden;
}
web-icon-img{
  margin-right: 5px;
}
.footer{
  background-color: #f5f5f5;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  position: fixed;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 12px;
}
.beian{
  color:#AAA;
  margin-left: 10px;
}
.inform{
  bottom: 0;
  position: fixed;
  width:938px;
}
.inform .inform-close{
  right: 0;
}
.inform .inform-info{
  text-indent:2em; 
  position: absolute;
  top:3;
  right: 110;
  width:290px;
  height: 60px;
  font-size: 12px;
}
.inform-img img{
  float: right;
  right: 10;
  width:110px;
}