<html>
	<head>
		<title>意见吐槽-我的导航</title>
		<meta name="keywords" content="上网导航,网址大全,网址导航,我的导航上网导航,我的导航网址,我的导航,我的导航网址大全,我的导航活动, 抽奖活动">
		<meta name="description" content="我的导航是最方便收藏网址的上网导航，您可以很方便的收藏、管理网址，并汇集最优秀的网站及资源。及时收录影视、音乐、小说、游戏等分类的网址和内容，让您的网络生活更简单精彩。">
		<link rel="shortcut icon" href="./images/my_navigation.ico" type="image/x-icon">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
		<!-- <link rel="stylesheet" href="./css/cover.css"> -->
		<link rel="stylesheet" href="./css/signin.css">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="./js/jquery.cookie.js"></script>
		<script src="./js/myscript.js"></script>
		<script type="text/javascript" src="./js/spig.js"></script>
		<link rel="stylesheet" href="./css/spigPet.css" type="text/css"/>
		<script type="text/javascript">
		var isindex = true;
		var visitor =  '';
		<?php if(isset($username) && !empty($username)){?>
			visitor =  "<?php echo $username;?>";
		<?php }?>
		</script>
	</head>

	<body>
		<div>
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" id="mynavigation" href="http://cikewang.com">我的导航</a>
			    </div>
			    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">	

					<div class="user-info-div" style="display:none;">	
						<a class="text-primary u"></a>&nbsp;&nbsp;/&nbsp;&nbsp;
						<a href="javascript:void(0);" id="loginOut" class="text-primary">退出</a>
					</div>
			    	<ul class="user-login-reg-div nav navbar-nav navbar-right">
			    	    <li>
			    	    	<form class="form-inline login-form-div" role="form" style="display:none;"> 
			    	    		<div class="user-login-msg pull-left hide">
									<h6 class="puul-right text-danger"></h6>
								</div>
			    	    		<div class="username-div input-group input-group-sm  ">
			    	    			<span class="input-group-addon">用户名：</span>
			    	    			<input type="text" id="username" name="username" width=20 class="form-control" placeholder="用户名/手机号/邮箱">
			    	    		</div>
			    	    		<div class="password-div input-group input-group-sm  ">
			    	    			<span class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
			    	    			<input type="password" id="password" name="password" width=20 class="form-control" placeholder="密码">
			    	    		</div>
			    	    		<button class="btn btn-primary btn-xs p10" data-loading-text="Loading..." type="button" id="login">
			    	    		点击登陆
			    	    		</button>
			    	    	</form>
			    	    	<a href="#" class="login-a">登录</a>
			    	    </li>
			    	    <li>
			    	    	<form class="form-inline reg-form-div" role="form" style="display:none;"> 
			    	    		<div class="user-reg-msg pull-left hide">
									<h6 class="puul-right text-danger"></h6>
								</div>
			    	    		<div class="username-reg-div input-group input-group-sm puul-left">
			    	    			<span class="input-group-addon">用户名：</span>
			    	    			<input type="text" id="reg_username" name="reg_username" width=20 class="form-control" placeholder="用户名/手机号/邮箱">
			    	    		</div>
			    	    		<div class="password-reg-div input-group input-group-sm puul-left">
			    	    			<span class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
			    	    			<input type="text" id="reg_password" name="reg_password" width=20 class="form-control" placeholder="密码">
			    	    		</div>
			    	    		<div class="auth-reg-div input-group input-group-sm puul-left">
			    	    			<span class="input-group-addon">验证码：</span>
			    	    			<input type="text" id="auth_code" name="auth_code" width=20 class="form-control" placeholder="验证码">
			    	    		</div>
			    	    		<button class="btn btn-primary btn-xs p10" data-loading-text="Loading..." type="button" id="register-reg">
			    	    		提交注册
			    	    		</button>
			    	    	</form>
			    	    	<a href="#" class="reg-a">注册</a>
			    	    </li>
			    	</ul>
			    </div>
			  </div>
			</nav>
		</div>

		<div class="w">
			<div class="blog-header">
				<h1 class="blog-title">&nbsp;</h1>
			</div>

			<div class="row">
					<!-- 左边区域 开始 -->
			        <div class="col-sm-8 blog-main">
			          <div class="blog-post">
			            <h2 class="blog-post-title">意见吐槽</h2>
			            
			            <!-- UY BEGIN -->
						<div id="uyan_frame"></div>
						<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=898881"></script>
						<!-- UY END -->

						
			          </div><!-- /.blog-post -->
			        </div><!-- /.blog-main -->
			        <!-- 左边区域 结束 -->
			        <!-- 右边区域 开始 -->
			        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			          
			          <div class="sidebar-module">
			            <h4><a href="http://cikewang.com" class="mynavigation">我的导航</a></h4>
			            <ol class="list-unstyled">
			              <li><a href="http://cikewang.com/index.php?c=document&a=about">关于本站</a></li>
			              <li><a href="http://cikewang.com/index.php?c=document&a=faq">常见问题</a></li>
			              <li><a href="https://ext.chrome.360.cn/webstore/detail/iipbfeobdcckmlapebacemfbaibbhkfc" target="_blank">安装插件</a></li>
			              <li><a href="http://cikewang.com/index.php?c=document&a=feedback">意见吐槽</a></li>
			              <li><a href="http://cikewang.com/index.php?c=document&a=contact">联系我们</a></li>
			            </ol>
			          </div>
			        </div><!-- /.blog-sidebar -->
			      </div>
			      <!-- 右边区域 结束 -->
		</div>

		<div class="w" style="display:none;">
			<div role="alert" class="my-navigation-div inform alert alert-dismissible fade in">
				<button data-dismiss="alert" class="close inform-close" type="button">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				<div class="inform-info">
					<p class="text-info">
						提示：推荐使用<a class="text-danger" href="http://chrome.360.cn/" target="_blank">“360极速浏览器”</a>或<a class="text-danger" href="http://rj.baidu.com/soft/detail/14744.html" target="_blank">“谷歌浏览器”</a>，并安装<a class="text-danger" href="https://ext.chrome.360.cn/webstore/detail/iipbfeobdcckmlapebacemfbaibbhkfc"  target="_blank">“我的导航”</a>插件，更方便收藏管理“我的导航”
					</p>
				</div>
				<div class="inform-img">
					<img src="./images/inform.jpg" alt="温馨提示">
				</div>
			</div>
		</div>
		<div class="footer">
			<ul class="list-inline">
				<li><a class="text-muted" href="http://cikewang.com/index.php?c=document&a=about" target="_blank">关于本站</a></li>|
				<li><a class="text-muted" href="http://cikewang.com/index.php?c=document&a=faq" target="_blank">常见问题</a></li>|
				<li><a class="text-muted" href="https://ext.chrome.360.cn/webstore/detail/iipbfeobdcckmlapebacemfbaibbhkfc" target="_blank">安装插件</a></li>|
				<li><a class="text-muted" href="http://cikewang.com/index.php?c=document&a=feedback" target="_blank">意见吐槽</a></li>|
				<li><a class="text-muted" href="http://cikewang.com/index.php?c=document&a=contact" target="_blank">联系我们</a></li>
				<li><span class="beian">京ICP备13018346号-3</span></li>
			</ul>
		  
		</div>
		<!--小人只在首页显示 start*-->
		<div id="spig" class="spig">
		    <div id="message">正在加载中……</div>
		    <div id="mumu" class="mumu"></div>
		</div>
		<!--小人end*-->
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F1bc58998ba7c344e32ed4427fa7b016b' type='text/javascript'%3E%3C/script%3E"));
	</script>
	</body>
</html>