{=*$totalPage:总页数*=} {=*$pageSize:每页显示条数*=} {=*$prePage:上一页页码*=} {=*$nextPage:下一页页码*=} {=*$firstPage:第一页页码*=} {=*$lastPage:最后页页码*=} {=*$totalNum:总条目数*=} {=*$pName:分页参数名*=} {=*$page:当前页页码*=} {=*$paramStr:继承参数*=}
<style>
/* 分页 */
.pagebox{overflow:hidden; zoom:1; font-size:12px; font-size:12px; font-family:Arial;}
.pagebox span{float:left; margin-right:4px; overflow:hidden; text-align:center; background:#fff;}
.pagebox span a{display:block; overflow:hidden; zoom:1; _float:left;}
.pagebox span.pagebox_all_num{padding:0 5px; height:21px; line-height:21px; color:#8e9197; cursor:default; background:none;}
.pagebox span.pagebox_pre_nolink{border:1px #e8e8ec solid; height:21px; line-height:21px; padding:0 9px 0 20px; color:#dcdcdc; background:url(http://www.sinaimg.cn/dy/deco/2008/0430/content_page_box_bg_1.gif) no-repeat 0 0 #fff; cursor:default;}
.pagebox span.pagebox_pre{color:#333; height:23px;}
.pagebox span.pagebox_pre a,.pagebox span.pagebox_pre a:visited{border:1px #dcdcdc solid; color:#333; text-decoration:none; padding:0 9px 0 20px; background:url(http://www.sinaimg.cn/dy/deco/2008/0430/content_page_box_bg_1.gif) no-repeat 0 -50px; cursor:pointer; height:21px; line-height:21px;}
.pagebox span.pagebox_pre a:hover,.pagebox span.pagebox_pre a:active{color:#fff; background:url(http://www.sinaimg.cn/dy/deco/2008/0430/content_page_box_bg_1.gif) no-repeat 0 -100px #8e9197; border:1px #8e9197 solid;}
.pagebox span.pagebox_num_nonce{padding:0 5px; height:21px; line-height:21px; color:#8e9197; cursor:default; background:none;}
.pagebox span.pagebox_num{color:#333; height:23px;}
.pagebox span.pagebox_num a,.pagebox span.pagebox_num a:visited{border:1px #dcdcdc solid; color:#333; text-decoration:none; padding:0 6px; cursor:pointer; height:21px; line-height:21px;}
.pagebox span.pagebox_num a:hover,.pagebox span.pagebox_num a:active{color:#fff; border:1px #8e9197 solid; background:#8e9197;}
.pagebox span.pagebox_num_ellipsis{color:#8e9197; width:26px; background:none;}
.pagebox span.pagebox_next_nolink{border:1px #e8e8ec solid; height:21px; line-height:21px; padding:0 20px 0 9px; color:#dcdcdc; background:url(http://www.sinaimg.cn/dy/deco/2008/0430/content_page_box_bg_1.gif) no-repeat 100% -25px #fff; cursor:default;}
.pagebox span.pagebox_next a,.pagebox span.pagebox_next a:visited{border:1px #dcdcdc solid; color:#333; text-decoration:none; padding:0 20px 0 9px; background:url(http://www.sinaimg.cn/dy/deco/2008/0430/content_page_box_bg_1.gif) no-repeat 100% -75px; cursor:pointer; height:21px; line-height:21px;}
.pagebox span.pagebox_next a:hover,.pagebox span.pagebox_next a:active{color:#fff; background:url(http://www.sinaimg.cn/dy/deco/2008/0430/content_page_box_bg_1.gif) no-repeat 100% -125px #8e9197; border:1px #8e9197 solid;}
</style>
<span class="pagebox">
	<span class="pagebox_all_num">共{=$totalPage=}页</span>
	{=if $page != 1=}<span class="pagebox_pre"><a href="{=$paramStr=}{=$pName=}={=$prePage=}">上一页</a></span>{=else=}<span class="pagebox_pre_nolink">上一页</span>{=/if=}
	{=if $page > 3=}<span class="pagebox_num"><a href="{=$paramStr=}{=$pName=}={=math equation="x - y" x=$page y=3=}">{=math equation="x - y" x=$page y=3=}</a></span>{=/if=}
	{=if $page > 2=}<span class="pagebox_num"><a href="{=$paramStr=}{=$pName=}={=math equation="x - y" x=$page y=2=}">{=math equation="x - y" x=$page y=2=}</a></span>{=/if=}
	{=if $page > 1=}<span class="pagebox_num"><a href="{=$paramStr=}{=$pName=}={=math equation="x - y" x=$page y=1=}">{=math equation="x - y" x=$page y=1=}</a></span>{=/if=}
	<span class="pagebox_num_nonce">{=$page=}</span>
	{=if $lastPage - $page >= 1=}<span class="pagebox_num"><a href="{=$paramStr=}{=$pName=}={=math equation="x + y" x=$page y=1=}">{=math equation="x + y" x=$page y=1=}</a></span>{=/if=}
	{=if $lastPage - $page >= 2=}<span class="pagebox_num"><a href="{=$paramStr=}{=$pName=}={=math equation="x + y" x=$page y=2=}">{=math equation="x + y" x=$page y=2=}</a></span>{=/if=}
	{=if $lastPage - $page >= 3=}<span class="pagebox_num"><a href="{=$paramStr=}{=$pName=}={=math equation="x + y" x=$page y=3=}">{=math equation="x + y" x=$page y=3=}</a></span>{=/if=}
	{=if $lastPage - $page >= 4=}<span class="pagebox_num"><a href="{=$paramStr=}{=$pName=}={=math equation="x + y" x=$page y=4=}">{=math equation="x + y" x=$page y=4=}</a></span>{=/if=}
	{=if $lastPage - $page >= 1=}<span class="pagebox_next"><a href="{=$paramStr=}{=$pName=}={=$nextPage=}">下一页</a></span>{=else=}<span class="pagebox_next_nolink">下一页</span>{=/if=}
</span>
